
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Acme", sans-serif; /* this should be the rest of the output you got from Google fonts */
}



.about{
    font-size: 30px;
    text-decoration: none;
    color: red;
    text-align: center;
}